.list-item {
  padding: 25px 15px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin: 0.938em 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.button-container {
  display: flex;
  column-gap: 12px;
  margin-top: 12px;
}

.button-container button {
  border: none;
  outline: none;
  color: #4386bf;
  background-color: #fff;
  cursor: pointer;
}

.book-info p {
  color: #4386bf;
  font-weight: 400;
  text-transform: capitalize;
}

.book-info h2 {
  letter-spacing: -0.2px;
  color: #121212;
  text-transform: capitalize;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.status {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.perecent {
  color: #121212;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.completed {
  color: #121212;
  font-size: 1rem;
  opacity: 0.5;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.curren-chapter {
  color: #121212;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.5;
}

.progress-button {
  width: 170px;
  padding: 5px 10px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #0290ff;
  cursor: pointer;
}
